In [1]:
import pandas as pd
from sklearn import linear_model, model_selection
import numpy as np
from sklearn.metrics import mean_squared_error
# test
products = '/Users/paddy/Desktop/facebook_products.csv'

df =  pd.read_csv(products)
df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info

<bound method DataFrame.info of       Unnamed: 0                                    id  \
0              0  243809c0-9cfc-4486-ad12-3b7a16605ba9
1              1  1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2              2  860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3              3  59948726-29be-4b35-ade5-bb2fd7331856
4              4  16dbc860-696e-4cda-93f6-4dd4926573fb
...          ...                                   ...
11313       7151  c4148656-78a9-4f3e-b393-134fdc5ef900
11314       7152  564e3411-768d-4250-a624-b119d696f103
11315       7153  2b0a652b-46a2-4297-b619-5efeeb222787
11316       7154  719fd40a-870e-4144-b324-55dff2e66fb4
11317       7155  86d1806b-5575-4a7e-9160-f24f12be6c95

                                            product_name  \
0      Mirror wall art | in Wokingham, Berkshire | Gu...
1      Stainless Steel Food Steamer | in Inverness, H...
2      Sun loungers | in Skegness, Lincolnshire | Gum...
3      Coffee side table from Ammunition ammo box hai...
4      Modern Shannon Sofa for sale at low cost | in ...
...                                                  ...
11313  Sony PlayStation VR Move Bundle | in Acocks Gr...
11314  Playstation VR V2 Bundle | in Acocks Green, We...
11315  Oculus quest 2 256gb | in Montrose, Angus | Gu...
11316  Logitech driving force shifter | in Carrickfer...
11317  20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...

                                                category  \
0      Home & Garden / Dining, Living Room Furniture ...
1                  Home & Garden / Other Household Goods
2      Home & Garden / Garden & Patio / Outdoor Setti...
3      Home & Garden / Dining, Living Room Furniture ...
4      Home & Garden / Dining, Living Room Furniture ...
...                                                  ...
11313  Video Games & Consoles / Consoles / PS4 (Sony ...
11314  Video Games & Consoles / Consoles / PS4 (Sony ...
11315  Video Games & Consoles / Other Video Games & C...
11316  Video Games & Consoles / Video Game Accessorie...
11317                     Video Games & Consoles / Games

                                     product_description    price  \
0      Mirror wall art. Posted by Nisha in Dining, Li...    £5.00
1      Morphy Richard’s (model no 48755)Stainless ste...   £20.00
2      I have 2 of these - collection only as I don’t...   £20.00
3      Great reclaimed army ammunition box used as co...  £115.00
4      New Design Shannon Corner sofa  5 Seater Avail...      NaN
...                                                  ...      ...
11313  Sony PlayStation VR Move Bundle353CASH ON COLL...  £260.00
11314  Playstation VR V2 Bundle355CASH ON COLLECTION ...  £235.00
11315  Pick up only £250Comes with two pistols stocks...  £250.00
11316  Bought at christmas from currys retailing at £...   £30.00
11317  Nintendo Switch console only used 2/3 times. A...  £450.00

                           location  \
0              Wokingham, Berkshire
1               Inverness, Highland
2            Skegness, Lincolnshire
3                Radstock, Somerset
4                               NaN
...                             ...
11313   Acocks Green, West Midlands
11314   Acocks Green, West Midlands
11315               Montrose, Angus
11316  Carrickfergus, County Antrim
11317                 Poole, Dorset

                                                     url       page_id  \
0      https://www.gumtree.com/p/mirrors-clocks-ornam...  1.426705e+09
1      https://www.gumtree.com/p/other-household-good...  1.426705e+09
2      https://www.gumtree.com/p/outdoor-settings-fur...  1.426705e+09
3      https://www.gumtree.com/p/other-dining-living-...  1.426705e+09
4                                                    NaN           NaN
...                                                  ...           ...
11313  https://www.gumtree.com/p/ps4/sony-playstation...  1.422159e+09
11314  https://www.gumtree.com/p/ps4/playstation-vr-v...  1.422159e+09
11315  https://www.gumtree.com/p/other-video-games/oc...  1.426669e+09
11316  https://www.gumtree.com/p/other-video-game-acc...  1.426700e+09
11317  https://www.gumtree.com/p/video-games/20-games...  1.426700e+09

      create_time
0      2022-02-26
1      2022-02-26
2      2022-02-26
3      2022-02-26
4             NaN
...           ...
11313  2022-02-28
11314  2022-02-28
11315  2022-02-28
11316  2022-02-28
11317  2022-02-28

[11318 rows x 10 columns]>

In [3]:
df.dtypes

Unnamed: 0              object
id                      object
product_name            object
category                object
product_description     object
price                   object
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [4]:
df[['id','product_name','category','product_description','location','url','create_time']] = df[['id','product_name','category','product_description','location','url','create_time']].astype(str)
df.dtypes

Unnamed: 0              object
id                      object
product_name            object
category                object
product_description     object
price                   object
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [5]:
df = df.drop(df.columns[0], axis=1)
df['product_name'] = df['product_name'].str.encode('ascii', 'ignore').str.decode('ascii')
df['product_description'] = df['product_description'].str.encode('ascii', 'ignore').str.decode('ascii')
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,nan,nan,NaN,nan

In [6]:
df = df.dropna(axis=0)
df.info

<bound method DataFrame.info of                                          id  \
0      243809c0-9cfc-4486-ad12-3b7a16605ba9
1      1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2      860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3      59948726-29be-4b35-ade5-bb2fd7331856
12     5707be4f-49d9-4feb-b2c8-aa0868405c65
...                                     ...
11313  c4148656-78a9-4f3e-b393-134fdc5ef900
11314  564e3411-768d-4250-a624-b119d696f103
11315  2b0a652b-46a2-4297-b619-5efeeb222787
11316  719fd40a-870e-4144-b324-55dff2e66fb4
11317  86d1806b-5575-4a7e-9160-f24f12be6c95

                                            product_name  \
0      Mirror wall art | in Wokingham, Berkshire | Gu...
1      Stainless Steel Food Steamer | in Inverness, H...
2      Sun loungers | in Skegness, Lincolnshire | Gum...
3      Coffee side table from Ammunition ammo box hai...
12     Spotlights | in Newent, Gloucestershire | Gumtree
...                                                  ...
11313  Sony PlayStation VR Move Bundle | in Acocks Gr...
11314  Playstation VR V2 Bundle | in Acocks Green, We...
11315  Oculus quest 2 256gb | in Montrose, Angus | Gu...
11316  Logitech driving force shifter | in Carrickfer...
11317  20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...

                                                category  \
0      Home & Garden / Dining, Living Room Furniture ...
1                  Home & Garden / Other Household Goods
2      Home & Garden / Garden & Patio / Outdoor Setti...
3      Home & Garden / Dining, Living Room Furniture ...
12                 Home & Garden / Other Household Goods
...                                                  ...
11313  Video Games & Consoles / Consoles / PS4 (Sony ...
11314  Video Games & Consoles / Consoles / PS4 (Sony ...
11315  Video Games & Consoles / Other Video Games & C...
11316  Video Games & Consoles / Video Game Accessorie...
11317                     Video Games & Consoles / Games

                                     product_description    price  \
0      Mirror wall art. Posted by Nisha in Dining, Li...    £5.00
1      Morphy Richards (model no 48755)Stainless stee...   £20.00
2      I have 2 of these - collection only as I dont ...   £20.00
3      Great reclaimed army ammunition box used as co...  £115.00
12     New in box not needed Spotlights . Posted by s...    £9.00
...                                                  ...      ...
11313  Sony PlayStation VR Move Bundle353CASH ON COLL...  £260.00
11314  Playstation VR V2 Bundle355CASH ON COLLECTION ...  £235.00
11315  Pick up only 250Comes with two pistols stocks ...  £250.00
11316  Bought at christmas from currys retailing at 4...   £30.00
11317  Nintendo Switch console only used 2/3 times. A...  £450.00

                           location  \
0              Wokingham, Berkshire
1               Inverness, Highland
2            Skegness, Lincolnshire
3                Radstock, Somerset
12          Newent, Gloucestershire
...                             ...
11313   Acocks Green, West Midlands
11314   Acocks Green, West Midlands
11315               Montrose, Angus
11316  Carrickfergus, County Antrim
11317                 Poole, Dorset

                                                     url       page_id  \
0      https://www.gumtree.com/p/mirrors-clocks-ornam...  1.426705e+09
1      https://www.gumtree.com/p/other-household-good...  1.426705e+09
2      https://www.gumtree.com/p/outdoor-settings-fur...  1.426705e+09
3      https://www.gumtree.com/p/other-dining-living-...  1.426705e+09
12     https://www.gumtree.com/p/other-household-good...  1.426705e+09
...                                                  ...           ...
11313  https://www.gumtree.com/p/ps4/sony-playstation...  1.422159e+09
11314  https://www.gumtree.com/p/ps4/playstation-vr-v...  1.422159e+09
11315  https://www.gumtree.com/p/other-video-games/oc...  1.426669e+09
11316  https://www.gumtree.com/p/other-video-game-acc...  1.426700e+09
11317  https://www.gumtree.com/p/video-games/20-games...  1.426700e+09

      create_time
0      2022-02-26
1      2022-02-26
2      2022-02-26
3      2022-02-26
12     2022-02-26
...           ...
11313  2022-02-28
11314  2022-02-28
11315  2022-02-28
11316  2022-02-28
11317  2022-02-28

[6311 rows x 9 columns]>

In [7]:
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,£9.00,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [8]:
df['price'] = df['price'].str.replace('£','')
df['price'] = df['price'].str.replace(',','').astype(float)
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [9]:
df.dtypes

id                      object
product_name            object
category                object
product_description     object
price                  float64
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [10]:
# df['product_name'] = df['product_name'].astype('str')
# df['product_name'] = df['product_name'].str.replace('|','')

df['product_name'] = df['product_name'].str.split('|').str[0]
# df['product_name'] = df['product_name']
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,"Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [11]:
df['subcategory'] = df['category'].str.split('/').str[1]
df['category'] = df['category'].str.split('/').str[0]
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time,subcategory
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,"Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture"
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture"
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods

In [12]:
df['county'] = df['location'].str.split(',').str[1]
df['location'] = df['location'].str.split(',').str[0]
df.head()
# fin

,id,product_name,category,product_description,price,location,url,page_id,create_time,subcategory,county
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,"Mirror wall art. Posted by Nisha in Dining, Li...",5.0,Wokingham,https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Berkshire
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,Morphy Richards (model no 48755)Stainless stee...,20.0,Inverness,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Highland
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,I have 2 of these - collection only as I dont ...,20.0,Skegness,https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio,Lincolnshire
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,Great reclaimed army ammunition box used as co...,115.0,Radstock,https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Somerset
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,New in box not needed Spotlights . Posted by s...,9.0,Newent,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Gloucestershire

In [13]:
df = df.drop(df.columns[3], axis=1)
df
# df_trial = df[['category', 'location', 'subcategory', 'county']]

,id,product_name,category,price,location,url,page_id,create_time,subcategory,county
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,5.0,Wokingham,https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Berkshire
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,20.0,Inverness,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Highland
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,20.0,Skegness,https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio,Lincolnshire
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,115.0,Radstock,https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Somerset
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,9.0,Newent,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Gloucestershire
...,...,...,...,...,...,...,...,...,...,...
11313,c4148656-78a9-4f3e-b393-134fdc5ef900,Sony PlayStation VR Move Bundle,Video Games & Consoles,260.0,Acocks Green,https://www.gumtree.com/p/ps4/sony-playstation...,1.422159e+09,2022-02-28,Consoles,West Midlands
11314,564e3411-768d-4250-a624-b119d696f103,Playstation VR V2 Bundle,Video Games & Consoles,235.0,Acocks Green,https://www.gumtree.com/p/ps4/playstation-vr-v...,1.422159e+09,2022-02-28,Consoles,West Midlands
11315,2b0a652b-46a2-4297-b619-5efeeb222787,Oculus quest 2 256gb,Video Games & Consoles,250.0,Montrose,https://www.gumtree.com/p/other-video-games/oc...,1.426669e+09,2022-02-28,Other Video Games & Consoles,Angus
11316,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter,Video Games & Consoles,30.0,Carrickfergus,https://www.gumtree.com/p/other-video-game-acc...,1.426700e+09,2022-02-28,Video Game Accessories,County Antrim
11317,86d1806b-5575-4a7e-9160-f24f12be6c95,20 GAMES & NINTENDO SWITCH BUNDLE,Video Games & Consoles,450.0,Poole,https://www.gumtree.com/p/video-games/20-games...,1.426700e+09,2022-02-28,Games,Dorset

In [14]:
df = df[df['price'] < 1000]
df = df[df['price'] > 1]
df

,id,product_name,category,price,location,url,page_id,create_time,subcategory,county
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,5.0,Wokingham,https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Berkshire
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,20.0,Inverness,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Highland
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,20.0,Skegness,https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio,Lincolnshire
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,115.0,Radstock,https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Somerset
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,9.0,Newent,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Gloucestershire
...,...,...,...,...,...,...,...,...,...,...
11313,c4148656-78a9-4f3e-b393-134fdc5ef900,Sony PlayStation VR Move Bundle,Video Games & Consoles,260.0,Acocks Green,https://www.gumtree.com/p/ps4/sony-playstation...,1.422159e+09,2022-02-28,Consoles,West Midlands
11314,564e3411-768d-4250-a624-b119d696f103,Playstation VR V2 Bundle,Video Games & Consoles,235.0,Acocks Green,https://www.gumtree.com/p/ps4/playstation-vr-v...,1.422159e+09,2022-02-28,Consoles,West Midlands
11315,2b0a652b-46a2-4297-b619-5efeeb222787,Oculus quest 2 256gb,Video Games & Consoles,250.0,Montrose,https://www.gumtree.com/p/other-video-games/oc...,1.426669e+09,2022-02-28,Other Video Games & Consoles,Angus
11316,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter,Video Games & Consoles,30.0,Carrickfergus,https://www.gumtree.com/p/other-video-game-acc...,1.426700e+09,2022-02-28,Video Game Accessories,County Antrim
11317,86d1806b-5575-4a7e-9160-f24f12be6c95,20 GAMES & NINTENDO SWITCH BUNDLE,Video Games & Consoles,450.0,Poole,https://www.gumtree.com/p/video-games/20-games...,1.426700e+09,2022-02-28,Games,Dorset

In [15]:
dummies = pd.get_dummies(df[['category']], prefix='category', drop_first=True)
dummies

,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles
0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11313,0,0,0,0,0,0,0,0,0,0,0,1
11314,0,0,0,0,0,0,0,0,0,0,0,1
11315,0,0,0,0,0,0,0,0,0,0,0,1
11316,0,0,0,0,0,0,0,0,0,0,0,1
11317,0,0,0,0,0,0,0,0,0,0,0,1

In [16]:
# features_columns = ['price']
# X = df.loc[:, features_columns]
# X.shape
dummies.columns




# X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3)
# X_validation, X_test, y_validation, y_test = model_selection.train_test_split(
#     X_test, y_test, test_size=0.5
# )

# print(X_train.shape, y_train.shape)

Index(['category_Baby & Kids Stuff ',
       'category_Clothes, Footwear & Accessories ',
       'category_Computers & Software ', 'category_DIY Tools & Materials ',
       'category_Health & Beauty ', 'category_Home & Garden ',
       'category_Music, Films, Books & Games ',
       'category_Office Furniture & Equipment ', 'category_Other Goods ',
       'category_Phones, Mobile Phones & Telecoms ',
       'category_Sports, Leisure & Travel ',
       'category_Video Games & Consoles '],
      dtype='object')

In [17]:
df_for_linear = pd.concat([df['price'], dummies], axis=1)
# df_for_linear = pd.merge()
df_for_linear

,price,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles
0,5.0,0,0,0,0,0,1,0,0,0,0,0,0
1,20.0,0,0,0,0,0,1,0,0,0,0,0,0
2,20.0,0,0,0,0,0,1,0,0,0,0,0,0
3,115.0,0,0,0,0,0,1,0,0,0,0,0,0
12,9.0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11313,260.0,0,0,0,0,0,0,0,0,0,0,0,1
11314,235.0,0,0,0,0,0,0,0,0,0,0,0,1
11315,250.0,0,0,0,0,0,0,0,0,0,0,0,1
11316,30.0,0,0,0,0,0,0,0,0,0,0,0,1
11317,450.0,0,0,0,0,0,0,0,0,0,0,0,1

In [18]:
df_id = df[['id', 'price']].copy()
df_id

                                         id  price
0      243809c0-9cfc-4486-ad12-3b7a16605ba9    5.0
1      1c58d3f9-8b93-47ea-9415-204fcc2a22e6   20.0
2      860673f1-57f6-47ba-8d2f-13f9e05b8f9a   20.0
3      59948726-29be-4b35-ade5-bb2fd7331856  115.0
12     5707be4f-49d9-4feb-b2c8-aa0868405c65    9.0
...                                     ...    ...
11313  c4148656-78a9-4f3e-b393-134fdc5ef900  260.0
11314  564e3411-768d-4250-a624-b119d696f103  235.0
11315  2b0a652b-46a2-4297-b619-5efeeb222787  250.0
11316  719fd40a-870e-4144-b324-55dff2e66fb4   30.0
11317  86d1806b-5575-4a7e-9160-f24f12be6c95  450.0

[5767 rows x 2 columns]

In [19]:
df_with_image_id = pd.merge(df_for_linear, df_id, how='outer')
df_with_image_id.drop_duplicates(subset=['id'], keep='first', inplace=True)
df_with_image_id

,price,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles,id
0,5.00,0,0,0,0,0,1,0,0,0,0,0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9
1,5.00,0,0,0,0,0,1,0,0,0,0,0,0,dcbe214e-cb4b-4f18-ab16-218ec12ab68b
2,5.00,0,0,0,0,0,1,0,0,0,0,0,0,6f228cd8-a2d6-4f23-858b-4a77a2f42d7c
3,5.00,0,0,0,0,0,1,0,0,0,0,0,0,2275f5f2-ee51-410c-8d85-e5923285a864
4,5.00,0,0,0,0,0,1,0,0,0,0,0,0,c0e5ef79-09c0-4cb7-9b7c-edd3d53aa530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878386,55.50,0,0,0,0,0,0,0,0,0,0,0,1,a9e31ee1-c706-42a9-97d9-4ca257e4c6f3
878387,88.00,0,0,0,0,0,0,0,0,0,0,0,1,f3bcf410-3972-4021-bc0f-dae1892f8793
878388,63.00,0,0,0,0,0,0,0,0,0,0,0,1,dd1a90ff-4a1f-4ff8-8183-381d79447bf2
878389,179.99,0,0,0,0,0,0,0,0,0,0,0,1,ebe8d613-4aa0-477c-8f1a-256ff8d4f248
878390,440.00,0,0,0,0,0,0,0,0,0,0,0,1,0772c65b-6cb8-4e8e-915c-d01b1942300b

In [20]:
X = df_for_linear.drop('price', axis=1)
y = df_for_linear['price']
X.shape

(5767, 12)

In [21]:
y.shape

(5767,)

In [22]:
reg = linear_model.LinearRegression()

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3)
X_validation, X_test, y_validation, y_test = model_selection.train_test_split(
    X_test, y_test, test_size=0.5
)
reg.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = reg.predict(X_test)
y_pred

array([117.89463612, 120.68795833,  94.28965517, 137.44705455,
       117.89463612, 185.3861    , 137.44705455,  69.65594982,
        94.28965517,  23.09677116, 137.44705455, 138.17867089,
       117.89463612,  94.28965517, 185.3861    , 117.89463612,
       185.3861    , 117.89463612, 117.89463612,  69.65594982,
       207.52376045, 138.17867089, 138.17867089, 207.52376045,
       137.44705455, 120.68795833, 207.52376045, 115.0884127 ,
       207.52376045, 137.44705455, 185.3861    ,  94.28965517,
       117.89463612,  69.65594982,  69.65594982, 120.68795833,
       120.68795833, 138.17867089, 117.89463612,  69.65594982,
       115.0884127 , 138.17867089, 218.85943262, 207.52376045,
       207.52376045, 218.85943262, 138.17867089, 185.3861    ,
       115.0884127 , 120.68795833, 117.89463612, 117.89463612,
       137.44705455, 185.3861    , 185.3861    , 137.44705455,
       207.52376045, 218.85943262, 138.17867089,  23.09677116,
       137.44705455, 207.52376045, 218.85943262, 120.68795833,
       207.52376045, 218.85943262, 115.0884127 , 207.52376045,
       115.0884127 ,  80.49975309, 117.89463612, 138.17867089,
       120.68795833, 185.3861    ,  94.28965517,  94.28965517,
       117.89463612,  23.09677116,  23.09677116, 117.89463612,
       117.89463612,  48.41256039, 185.3861    , 185.3861    ,
        80.49975309, 137.44705455,  69.65594982,  80.49975309,
        80.49975309, 185.3861    , 120.68795833, 115.0884127 ,
       120.68795833, 120.68795833, 138.17867089, 115.0884127 ,
       137.44705455, 115.0884127 ,  23.09677116, 207.52376045,
       120.68795833,  80.49975309, 120.68795833,  23.09677116,
       218.85943262, 120.68795833, 218.85943262,  48.41256039,
       218.85943262,  48.41256039, 120.68795833,  23.09677116,
        23.09677116, 207.52376045, 117.89463612, 137.44705455,
        69.65594982, 120.68795833, 137.44705455, 138.17867089,
        69.65594982, 120.68795833,  80.49975309, 185.3861    ,
       138.17867089,  94.28965517, 117.89463612,  94.28965517,
        69.65594982, 120.68795833, 117.89463612, 137.44705455,
       138.17867089, 138.17867089, 120.68795833, 120.68795833,
        23.09677116, 120.68795833,  48.41256039, 120.68795833,
       115.0884127 , 117.89463612, 185.3861    , 185.3861    ,
       117.89463612, 185.3861    , 120.68795833,  94.28965517,
        94.28965517, 117.89463612, 185.3861    , 207.52376045,
        23.09677116, 185.3861    , 218.85943262, 120.68795833,
       120.68795833,  94.28965517, 218.85943262, 120.68795833,
       137.44705455, 185.3861    , 185.3861    , 120.68795833,
        94.28965517,  94.28965517,  80.49975309,  94.28965517,
       137.44705455, 117.89463612,  69.65594982, 117.89463612,
       138.17867089, 218.85943262,  23.09677116, 137.44705455,
       137.44705455, 138.17867089, 120.68795833, 207.52376045,
       185.3861    , 117.89463612,  48.41256039, 185.3861    ,
        94.28965517,  23.09677116, 115.0884127 ,  80.49975309,
       137.44705455,  80.49975309, 137.44705455,  80.49975309,
       137.44705455,  69.65594982, 185.3861    , 137.44705455,
        94.28965517, 115.0884127 ,  69.65594982, 117.89463612,
       120.68795833,  48.41256039, 185.3861    , 185.3861    ,
        23.09677116, 185.3861    ,  48.41256039, 207.52376045,
       120.68795833, 138.17867089, 138.17867089, 138.17867089,
        69.65594982,  94.28965517, 137.44705455, 138.17867089,
       115.0884127 , 117.89463612, 138.17867089,  23.09677116,
       207.52376045, 207.52376045, 207.52376045, 218.85943262,
       207.52376045, 117.89463612, 115.0884127 ,  94.28965517,
        94.28965517, 120.68795833, 115.0884127 ,  69.65594982,
       207.52376045, 207.52376045, 207.52376045,  23.09677116,
       207.52376045, 117.89463612,  94.28965517,  48.41256039,
       120.68795833, 120.68795833, 207.52376045,  80.49975309,
       137.44705455, 115.0884127 , 218.85943262, 137.44705455,
       218.85943262, 120.68795833,  23.09677116, 207.52376045,
       218.85943262, 115.0884127 , 117.89463612,  48.41256039,
       218.85943262, 137.44705455,  80.49975309, 138.17867089,
        69.65594982, 207.52376045, 137.44705455, 185.3861    ,
        94.28965517, 185.3861    , 207.52376045, 138.17867089,
        69.65594982,  23.09677116, 120.68795833, 218.85943262,
       120.68795833, 138.17867089, 138.17867089, 115.0884127 ,
       115.0884127 ,  94.28965517,  69.65594982, 115.0884127 ,
       117.89463612,  80.49975309, 115.0884127 , 138.17867089,
       138.17867089,  69.65594982,  94.28965517,  48.41256039,
       207.52376045, 117.89463612, 137.44705455, 137.44705455,
        80.49975309, 218.85943262, 218.85943262, 138.17867089,
        48.41256039, 207.52376045,  80.49975309,  48.41256039,
       207.52376045,  69.65594982, 185.3861    , 117.89463612,
        94.28965517, 137.44705455, 115.0884127 , 115.0884127 ,
        69.65594982, 138.17867089, 117.89463612,  94.28965517,
       117.89463612, 117.89463612, 185.3861    ,  23.09677116,
        69.65594982,  23.09677116,  23.09677116, 138.17867089,
        48.41256039, 115.0884127 ,  69.65594982,  69.65594982,
        94.28965517, 137.44705455, 185.3861    , 120.68795833,
       120.68795833,  94.28965517, 207.52376045, 117.89463612,
        48.41256039,  23.09677116, 185.3861    , 207.52376045,
       137.44705455, 117.89463612, 137.44705455,  94.28965517,
       117.89463612,  69.65594982, 117.89463612,  80.49975309,
       207.52376045, 120.68795833,  94.28965517,  48.41256039,
        94.28965517, 185.3861    ,  80.49975309, 207.52376045,
       218.85943262,  80.49975309, 120.68795833,  80.49975309,
        94.28965517, 117.89463612, 218.85943262, 138.17867089,
       207.52376045, 137.44705455,  69.65594982,  80.49975309,
        94.28965517, 137.44705455, 120.68795833, 207.52376045,
       207.52376045, 120.68795833, 117.89463612, 117.89463612,
       137.44705455, 115.0884127 , 120.68795833, 185.3861    ,
        94.28965517, 185.3861    , 115.0884127 ,  48.41256039,
       137.44705455,  80.49975309, 185.3861    ,  80.49975309,
       138.17867089,  48.41256039, 185.3861    , 115.0884127 ,
       137.44705455, 120.68795833, 207.52376045, 138.17867089,
       117.89463612, 137.44705455,  23.09677116,  69.65594982,
        80.49975309, 117.89463612, 115.0884127 ,  23.09677116,
       117.89463612, 115.0884127 , 207.52376045,  48.41256039,
       117.89463612, 120.68795833, 120.68795833, 185.3861    ,
       137.44705455, 207.52376045, 138.17867089, 120.68795833,
       115.0884127 , 115.0884127 ,  80.49975309, 120.68795833,
        94.28965517,  94.28965517,  23.09677116, 117.89463612,
       185.3861    ,  80.49975309, 207.52376045, 115.0884127 ,
       137.44705455,  80.49975309, 120.68795833, 218.85943262,
       137.44705455,  94.28965517, 207.52376045,  48.41256039,
       207.52376045, 117.89463612,  80.49975309,  48.41256039,
       120.68795833,  69.65594982, 185.3861    , 137.44705455,
        94.28965517, 117.89463612, 120.68795833, 185.3861    ,
       120.68795833,  23.09677116,  94.28965517, 137.44705455,
       120.68795833, 137.44705455, 117.89463612,  23.09677116,
       117.89463612, 138.17867089, 115.0884127 ,  80.49975309,
       137.44705455, 117.89463612, 185.3861    ,  94.28965517,
       138.17867089, 115.0884127 ,  80.49975309, 185.3861    ,
       117.89463612, 120.68795833, 117.89463612, 185.3861    ,
       218.85943262, 185.3861    ,  80.49975309, 185.3861    ,
       207.52376045, 138.17867089,  80.49975309,  23.09677116,
       115.0884127 ,  23.09677116,  69.65594982,  80.49975309,
        69.65594982,  69.65594982, 137.44705455, 185.3861    ,
       120.68795833,  23.09677116, 115.0884127 ,  94.28965517,
       138.17867089, 120.68795833, 207.52376045, 185.3861    ,
       120.68795833, 120.68795833,  23.09677116,  23.09677116,
        23.09677116, 218.85943262,  23.09677116,  23.09677116,
       137.44705455,  48.41256039, 138.17867089, 117.89463612,
       120.68795833,  23.09677116, 138.17867089,  48.41256039,
        23.09677116, 117.89463612, 185.3861    ,  69.65594982,
       138.17867089, 120.68795833,  23.09677116, 120.68795833,
       138.17867089,  69.65594982, 185.3861    , 120.68795833,
       138.17867089, 185.3861    , 117.89463612, 115.0884127 ,
       120.68795833,  80.49975309, 117.89463612, 120.68795833,
       120.68795833,  23.09677116, 115.0884127 ,  69.65594982,
        69.65594982,  48.41256039, 120.68795833, 117.89463612,
        23.09677116, 117.89463612,  80.49975309,  80.49975309,
       120.68795833, 120.68795833,  94.28965517, 137.44705455,
       207.52376045, 115.0884127 , 218.85943262, 120.68795833,
       137.44705455, 137.44705455,  48.41256039, 115.0884127 ,
       138.17867089,  94.28965517,  94.28965517, 207.52376045,
       120.68795833,  48.41256039, 185.3861    , 115.0884127 ,
        48.41256039,  94.28965517, 120.68795833,  48.41256039,
       137.44705455,  48.41256039, 115.0884127 , 120.68795833,
       218.85943262,  94.28965517, 137.44705455, 218.85943262,
       185.3861    ,  23.09677116,  48.41256039, 137.44705455,
        94.28965517,  94.28965517,  48.41256039,  69.65594982,
        69.65594982, 207.52376045, 117.89463612,  69.65594982,
        48.41256039, 115.0884127 ,  23.09677116,  23.09677116,
       117.89463612, 120.68795833, 117.89463612, 137.44705455,
        69.65594982,  80.49975309, 115.0884127 ,  48.41256039,
       207.52376045,  48.41256039,  69.65594982,  48.41256039,
       117.89463612,  23.09677116, 185.3861    ,  69.65594982,
       137.44705455, 115.0884127 ,  23.09677116,  23.09677116,
        94.28965517,  48.41256039,  69.65594982, 207.52376045,
        23.09677116,  94.28965517, 120.68795833,  80.49975309,
       115.0884127 , 137.44705455, 185.3861    ,  94.28965517,
       120.68795833,  69.65594982, 115.0884127 , 218.85943262,
       218.85943262,  69.65594982, 138.17867089,  48.41256039,
        23.09677116, 120.68795833, 115.0884127 , 137.44705455,
       115.0884127 , 218.85943262, 218.85943262, 137.44705455,
        48.41256039, 185.3861    , 138.17867089, 185.3861    ,
        23.09677116, 120.68795833, 218.85943262, 115.0884127 ,
       115.0884127 , 115.0884127 ,  94.28965517,  80.49975309,
       120.68795833,  80.49975309, 207.52376045, 137.44705455,
       120.68795833,  94.28965517, 218.85943262,  23.09677116,
       117.89463612, 185.3861    ,  80.49975309,  94.28965517,
       207.52376045, 115.0884127 , 185.3861    , 117.89463612,
        94.28965517,  69.65594982,  80.49975309, 117.89463612,
       120.68795833, 185.3861    , 117.89463612, 117.89463612,
       120.68795833, 185.3861    , 207.52376045,  80.49975309,
       117.89463612,  23.09677116, 207.52376045, 138.17867089,
        80.49975309, 120.68795833, 117.89463612,  48.41256039,
        94.28965517, 137.44705455, 115.0884127 , 120.68795833,
       138.17867089,  80.49975309, 207.52376045, 207.52376045,
        94.28965517,  23.09677116,  80.49975309, 207.52376045,
       120.68795833, 185.3861    , 207.52376045, 115.0884127 ,
       137.44705455,  48.41256039,  23.09677116, 185.3861    ,
        80.49975309,  69.65594982, 137.44705455,  94.28965517,
       120.68795833,  94.28965517, 120.68795833, 218.85943262,
       115.0884127 , 185.3861    , 120.68795833,  69.65594982,
        23.09677116, 115.0884127 ,  69.65594982, 185.3861    ,
       120.68795833,  94.28965517,  94.28965517, 120.68795833,
        23.09677116,  94.28965517, 137.44705455,  94.28965517,
       120.68795833, 115.0884127 , 115.0884127 , 115.0884127 ,
        23.09677116, 218.85943262, 115.0884127 ,  69.65594982,
       117.89463612, 218.85943262,  94.28965517,  69.65594982,
       115.0884127 , 218.85943262,  94.28965517, 120.68795833,
        69.65594982,  48.41256039,  94.28965517,  23.09677116,
        23.09677116, 207.52376045, 185.3861    ,  80.49975309,
       218.85943262,  80.49975309,  69.65594982, 117.89463612,
        23.09677116, 137.44705455, 218.85943262,  94.28965517,
       138.17867089,  48.41256039, 185.3861    , 115.0884127 ,
       115.0884127 , 185.3861    , 185.3861    ,  69.65594982,
        69.65594982, 185.3861    , 137.44705455,  48.41256039,
       138.17867089,  23.09677116,  80.49975309, 120.68795833,
       138.17867089,  23.09677116, 120.68795833,  23.09677116,
        69.65594982,  94.28965517, 185.3861    , 137.44705455,
        23.09677116, 185.3861    , 117.89463612, 120.68795833,
       120.68795833, 218.85943262, 115.0884127 , 115.0884127 ,
       117.89463612, 117.89463612, 120.68795833, 218.85943262,
       207.52376045, 207.52376045,  69.65594982,  69.65594982,
       218.85943262, 120.68795833, 120.68795833,  94.28965517,
       207.52376045, 117.89463612, 138.17867089, 138.17867089,
        69.65594982, 185.3861    , 185.3861    , 185.3861    ,
       207.52376045,  94.28965517,  48.41256039, 120.68795833,
       120.68795833, 185.3861    ,  23.09677116, 117.89463612,
       120.68795833, 120.68795833, 138.17867089, 117.89463612,
        23.09677116, 207.52376045,  69.65594982, 115.0884127 ,
       117.89463612, 185.3861    , 207.52376045, 138.17867089,
       117.89463612,  94.28965517, 218.85943262,  94.28965517,
        94.28965517,  69.65594982, 218.85943262, 138.17867089,
       138.17867089, 138.17867089,  94.28965517, 218.85943262,
       120.68795833, 120.68795833,  94.28965517, 115.0884127 ,
       137.44705455, 137.44705455, 207.52376045, 120.68795833,
       185.3861    ,  69.65594982,  23.09677116, 138.17867089,
        94.28965517, 185.3861    , 115.0884127 , 207.52376045,
       185.3861    ,  80.49975309, 138.17867089, 218.85943262,
       120.68795833,  48.41256039])

In [24]:
mse_test = mean_squared_error(y[:866], y_pred)
print('mse:',mse_test)

mse: 25516.376198812384

In [25]:
# df_image_uuid = pd.read_json('/Users/paddy/Desktop/AiCore/facebook_ml/images.json')
# # print(df_image_uuid.head())
# df_image_uuid

ValueError: Expected object or value

In [ ]:
# df_image_uuid.dtypes
# df_image_uuid['id'] = df_image_uuid['uuid'].astype(str)
df_image_uuid = df_image_uuid.rename(columns={'id' : 'image_id', 'product_id' : 'id2'})
df_image_uuid

,image_id,id2,bucket_link,image_ref,create_time
0,912bb259-3ad9-457b-9db1-ce1da9016057,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-product-images.s3.amazonaws.com...,koQAAOSwhZRiE5dD,2022-02-26
1,b166d305-b852-4bdd-83f4-465b20da94fa,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-product-images.s3.amazonaws.com...,9vgAAOSw8sRiE5dE,2022-02-26
2,68f5a29d-0075-4d60-81c1-ab684a82e50c,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-product-images.s3.amazonaws.com...,FlwAAOSwCkpiFNlV,2022-02-26
3,f6a309d7-d247-446a-9b5e-aceefdd4334d,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-product-images.s3.amazonaws.com...,4gIAAOSw4ORiFNlZ,2022-02-26
4,2c2b3a6f-15b3-4289-937a-15482d9f5781,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,https://aicore-product-images.s3.amazonaws.com...,sHoAAOSwQoRiD7vf,2022-02-26
...,...,...,...,...,...
12599,cdec1c5c-c4b1-42db-afbe-3fa68ea4b87d,2b0a652b-46a2-4297-b619-5efeeb222787,https://aicore-product-images.s3.amazonaws.com...,kGgAAOSwq85iGJVE,2022-02-28
12600,dc99e40f-6b15-494d-9fb7-f0d02e9781f9,719fd40a-870e-4144-b324-55dff2e66fb4,https://aicore-product-images.s3.amazonaws.com...,voEAAOSw1OhiGPR6,2022-02-28
12601,c8488028-bf07-4258-a4c2-56d2fe387835,719fd40a-870e-4144-b324-55dff2e66fb4,https://aicore-product-images.s3.amazonaws.com...,s3wAAOSwoQBiGPR7,2022-02-28
12602,c6113145-89c8-47cd-9211-38f29d016cc7,86d1806b-5575-4a7e-9160-f24f12be6c95,https://aicore-product-images.s3.amazonaws.com...,kFYAAOSwj8diGPQH,2022-02-28
12603,ed2aaf88-616c-4e6b-af49-bbdf7c0fbd06,86d1806b-5575-4a7e-9160-f24f12be6c95,https://aicore-product-images.s3.amazonaws.com...,av0AAOSwHcBiGPQI,2022-02-28

In [ ]:
# df_image_uuid.rename(columns={'id':'id'}, inplace = True)
# df_for_linear.rename(columns={'id':'id'}, inplace = True)
# merged_df =  pd.merge(df_image_uuid, df_with_image_id, on='id', how='outer', indicator=True)
# merged_df.drop_duplicates(keep='first', inplace=True)
# merged_df = merged_df.dropna(axis=0)
# merged_df
merged_df = pd.concat([df_image_uuid.reset_index(drop=True),df_with_image_id.reset_index(drop=True)], axis=1)
merged_df = merged_df.dropna(axis=0)
df_image_uuid = df_image_uuid.rename(columns={'id' : 'image_id', 'product_id' : 'id'})
merged_df

,image_id,id2,bucket_link,image_ref,create_time,price,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles,id
0,912bb259-3ad9-457b-9db1-ce1da9016057,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-product-images.s3.amazonaws.com...,koQAAOSwhZRiE5dD,2022-02-26,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,243809c0-9cfc-4486-ad12-3b7a16605ba9
1,b166d305-b852-4bdd-83f4-465b20da94fa,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-product-images.s3.amazonaws.com...,9vgAAOSw8sRiE5dE,2022-02-26,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,dcbe214e-cb4b-4f18-ab16-218ec12ab68b
2,68f5a29d-0075-4d60-81c1-ab684a82e50c,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-product-images.s3.amazonaws.com...,FlwAAOSwCkpiFNlV,2022-02-26,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6f228cd8-a2d6-4f23-858b-4a77a2f42d7c
3,f6a309d7-d247-446a-9b5e-aceefdd4334d,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-product-images.s3.amazonaws.com...,4gIAAOSw4ORiFNlZ,2022-02-26,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2275f5f2-ee51-410c-8d85-e5923285a864
4,2c2b3a6f-15b3-4289-937a-15482d9f5781,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,https://aicore-product-images.s3.amazonaws.com...,sHoAAOSwQoRiD7vf,2022-02-26,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,c0e5ef79-09c0-4cb7-9b7c-edd3d53aa530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,ced20b15-f71f-4f18-8b42-8bec96e177c6,a7594f7c-cfd9-49b4-b504-76181fbad85c,https://aicore-product-images.s3.amazonaws.com...,Q3AAAOSw4dZiGUa9,2022-02-27,55.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,a9e31ee1-c706-42a9-97d9-4ca257e4c6f3
5763,ea77b2e0-498b-4015-8884-edd7780c765a,a7594f7c-cfd9-49b4-b504-76181fbad85c,https://aicore-product-images.s3.amazonaws.com...,FWwAAOSwxKhiGUa~,2022-02-27,88.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,f3bcf410-3972-4021-bc0f-dae1892f8793
5764,0f77f8cc-e8bf-4f7d-89ea-62a92d6dbc3f,37a7232e-3579-47f3-8239-b82f516f5473,https://aicore-product-images.s3.amazonaws.com...,i~UAAOSwVj5iGUkx,2022-02-27,63.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,dd1a90ff-4a1f-4ff8-8183-381d79447bf2
5765,89103db6-f8b4-41bd-b03d-8e56a6b72fa9,37a7232e-3579-47f3-8239-b82f516f5473,https://aicore-product-images.s3.amazonaws.com...,puAAAOSw791iGUkz,2022-02-27,179.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,ebe8d613-4aa0-477c-8f1a-256ff8d4f248
5766,14f03356-20e2-491a-aa96-c62fd3be6138,e52233d9-81c7-4619-b766-9341fde722d9,https://aicore-product-images.s3.amazonaws.com...,j70AAOSwhAtiGUkX,2022-02-27,440.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0772c65b-6cb8-4e8e-915c-d01b1942300b

In [ ]:
import os  
os.makedirs('/Users/paddy/Desktop/AiCore/facebook_ml/final_dataset', exist_ok=True)  
merged_df.to_json('/Users/paddy/Desktop/AiCore/facebook_ml/final_dataset/image_data.json')

In [32]:
pls_work = pd.read_csv('/Users/paddy/Desktop/AiCore/facebook_ml/final_dataset/combined_final_dataset.csv')
# pls_work.drop_duplicates(subset=[''])
# pls_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12604 entries, 0 to 12603
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           12604 non-null  int64
 1   image_id             12604 non-null  object
 2   category             12604 non-null  object
 3   product_description  12604 non-null  object
dtypes: int64(1), object(3)
memory usage: 394.0+ KB